* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.bg{
  background: linear-gradient(
    to right,
    rgba(133, 132, 132, 0.103) 0%,
    rgba(128, 128, 128, 0.089) 50%,
    white 50%,
    white 100%
  );
}
#slide >*{animation: 12s autoplay6 infinite linear;
position: absolute; top:0; left:0; opacity: 0.0;}
@keyframes autoplay6 {
  0%{opacity:0.0}
    4%{opacity:1.0}
    33.33%{opacity:1.0}
    37.33%{opacity:0.0}
    100%{opacity:0.0}
}
#slide >*:nth-child(1){animation-delay: 0s}
#slide >*:nth-child(2){animation-delay: 4s}
#slide >*:nth-child(3){animation-delay: 8s}
@tailwind base;
@tailwind components;
@tailwind utilities;

.text{
  @apply  text-indigo-500
}

